@model IT_Lab3_2022.Models.FriendModel
@{
    ViewBag.Title = "AddFriend";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add friend</h2>

@using (Html.BeginForm("AddFriend", "Friend"))
{
    <div class="form-group">
        @Html.LabelFor(f => f.Friend_Id)
        @Html.TextBoxFor(f => f.Friend_Id, new { @class = "form-control", type = "number" })
        @Html.ValidationMessageFor(f => f.Friend_Id)
    </div>

    <div class="form-group">
        @Html.LabelFor(f => f.Ime)
        @Html.TextBoxFor(f => f.Ime, new { @class = "form-control" })
        @Html.ValidationMessageFor(f => f.Ime)
    </div>

    <div class="form-group">
        @Html.LabelFor(f => f.MestoZiveenje)
        @Html.TextBoxFor(f => f.MestoZiveenje, new { @class = "form-control" })
        @Html.ValidationMessageFor(f => f.MestoZiveenje)
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-default">Submit</button>
        @Html.ActionLink("Back", "ShowFriends", new {@class = "btn btn-default"})
    </div>


}
