@model IT_Lab5_2022.Models.Friend

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Friend</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Friend_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Friend_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MestoZiveenje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MestoZiveenje)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("Administrator") || User.IsInRole("Manager"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) 
    } |
    @Html.ActionLink("Back to List", "Index")
</p>
